.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  background-color: white;
}

#toolbar {
  border: white 2px solid;
}

.quill {
  border: white 2px solid;
}
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: -3px !important;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.quill .ql-editor a {
  color: #111 !important;
  /* text-decoration: none !important; */
}

/* Blog Item */
.card-edit {
  border: none !important;
  /* border-radius: 20px !important; */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.card-body a {
  color: #51575d !important;
}

.card-body a:hover {
  color: #007bff !important;
  border-bottom: 1px solid #007bff;
}

.card-edit .control-blogitem {
  border: 1.5px solid #dde3e9;
}

.control-blogitem .view {
  color: #b8c3ce;
  font-size: 22px;
  border-right: 1.5px solid #dde3e9;
}

.control-blogitem .update {
  color: #b8c3ce;
  font-size: 22px;
  border-right: 1.5px solid #dde3e9;
}

.control-blogitem .delete {
  color: #b8c3ce;
  font-size: 22px;
}

.control-blogitem .view:hover,
.control-blogitem .update:hover,
.control-blogitem .delete:hover {
  color: #51575d;
}

.stt-card {
  position: relative;
  color: #61dafb;
  width: 100%;
  height: 60%;
  /* border-radius: 2%; */
  clip-path: circle(62% at 50% 3%);
}

.stt-card h2 {
  color: #fff;
  font-size: 4.5em;
  padding-top: 30px;
  font-weight: bold;
}

/* -------------------------------------- */

/* desigh content */

.content img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.content {
  color: #b8c3ce;
  text-shadow: 5px 5px 15px #343a40;
}
.writer {
  color: #b8c3ce;
  /* text-shadow: 5px 5px 15px #343a40; */
}

.writer p {
  text-shadow: 5px 5px 15px #343a40;
  font-weight: bold;
}

/* pagination */
.numberpage {
  font-size: 15px;
  border: 1px solid #dee2e6;
  padding: 7px 20px 5px 20px;
}

.pagination {
  background-color: whitesmoke;
}

#btnPrev,
#btnNext,
.numberpage,
.dots {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

/* desigh title */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #b8c3ce;
  color: #111;
  font-size: 120%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -0.5em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* desigh code text */
pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  /* overflow: visible; */
  padding: 5px 10px;
  border-radius: 3px;
}

/* .content-img pre.ql-syntax{
  overflow: visible;
} */
